@import "tailwindcss";

.wrongAnswer{
    animation: wrong 1s ease;
}

@keyframes wrong {
    25%{
        transform: translateX(10px);
    }

    50%{
        transform: translateX(-10px);
    }

    100%{
        transform: translateX(0px);
    }
}